<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiUrl" value="https://tvi-api.progiapps.fr/ws"/>
		<add key="ApiUrl" value="https://tests.progiapps.fr/tvi-api/ws"/>
		<add key="xApiKey" value="TVI-PROD-SD48-7SDS-512P-DS92-SDS3-S8XC-XS78-32QZ-WX5B-ZA60"/>
		<add key="ApiKey" value="TVI-TEST-SD48-7SDS-512P-DS92-SDS3-S8XC-XS78-32QZ-WX5B-ZA60"/>
		<add key="ProxyAddress" value="http://proxy:80"/>
		<add key="ProxyUsername" value="aot"/>
		<add key="ProxyPassword" value="studiel"/>
		<add key="xProxyUrl" value=""/>
		<add key="xProxyUsername" value=""/>
		<add key="xProxyPassword" value=""/>
	</appSettings>
</configuration>